*{
    padding: 0;
    margin: 0;
}

body{
background-color: beige;

}

.container{
font-size: large;
font-family: sans-serif;
text-align: center;
padding: 40px;
display: flex;
text-align: center;
flex-direction: column;
}

.internalcontainer{
    font-family: sans-serif;
    margin: 35px;
    padding: 10px;
    
}

.randombtn{
    padding: 10px;
    font-family: sans-serif;
    font-size: medium;
}

.applybtn{
    padding: 10px;
    font-family: sans-serif;
    font-size: medium;
}

#mid{
    padding: 10px;
    font-family: sans-serif;
    font-size: medium;
}

.para{
    font-family: sans-serif;
    font-size: 25px;
}

.spa{
    font-family: sans-serif;
    font-size: 25px;
}


button:active{
    transform: scale(1.2);
}